* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
html {
  font-size: 18px;
}

h1, h2 {
  margin: 0;
}

main {
  padding: 64px 0;
  border-top: 8px solid hsl(0deg, 0%, 40%);
  background: hsl(0deg, 0%, 60%);
}

p {
  color: hsl(0deg, 0%, 10%);
  font-size: 1.25rem;
  line-height: 1.3;
}

p:last-child {
  margin-bottom: 0;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}

.intro-chunk {
  max-width: 400px;
  padding: 96px 0 64px;
}

.title {
  margin-bottom: 48px;
  font-size: 2rem;
}

.card {
  margin: 0 -32px;
  padding: 32px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 100%);
}

.indented-heading {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -16px;
  margin-left: -48px;
  padding: 16px 48px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  background-color: hsl(45deg, 100%, 50%);
}
